@import '../../styles/variables/sizing.module.scss';
@import '../../styles/variables/colors.module.scss';

@mixin form {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    // background-color: rgba(242, 242, 242, 0.5);

    margin-bottom: $largeSpacing;
    margin-top: $smallSpacing;
    // margin-top: $mediumSpacing;
    z-index: 1;
}

.personal{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__selectStyle{
        border-radius: 10px;
        width: 200px;
        padding: 3px;
        margin-top: $smallSpacing;
    }
}

.blur{
    &__normal{
        width: 60%;
        @include form;
    }
    
    &_mobile{
        width: 80%;
        @include form;
    }
}

.form{
    border-radius: 3px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    
    
    -webkit-box-shadow: $blur $shadow-blue;
    -moz-box-shadow: $blur $shadow-blue;
    box-shadow: $blur $shadow-blue;

}