
$shadow-blue: rgba(4,33,128,0.18);

$errorRed-light: rgb(255, 179, 179);
$errorRed-font: rgb(122, 0, 0);


//buttons
$light-text: rgb(247, 247, 247);
$disabled-back: rgb(196, 196, 196);
$disabled-color: rgb(64, 64, 64);

$base-back: rgb(137, 203, 250);
$base-color: rgb(0, 63, 102);
$base-shadow: rgb(31, 104, 156);

$submit-back: rgb(137, 250, 154);
$submit-color: rgb(3, 97, 17);
$submit-shadow: rgb(46, 153, 62);

$clear-back: rgb(248, 250, 137);
$clear-color: rgb(4, 79, 120);
$clear-shadow: rgb(252, 168, 20);

$danger-back: rgb(247, 109, 118);
$danger-color: rgb(82, 0, 5);
$danger-shadow: rgb(189, 53, 62);

$information-back: rgb(168, 130, 255);
$information-color: rgb(33, 12, 82);
$information-shadow: rgb(128, 100, 189);

// table rows
$odd-back: rgb(222, 222, 222);
$odd-border: rgb(132, 164, 184);

$even-back: rgb(247, 247, 247);
$even-border: rgb(132, 164, 184);

$selected-back: rgb(183, 247, 201);

// Title
$title-color: rgb(4, 33, 128);

// Navigation
$nav-back: rgb(193, 209, 224);
$nav-border: rgb(132, 144, 184);
$nav-active: rgb(132, 184, 155);
$nav-color-inactive: rgb(94, 136, 171);
$nav-hover: rgb(52, 130, 99);
// $nav-hover: rgb(139, 224, 190);

// Messaging Display
$message-error-back: rgb(163, 3, 3);
